/* FLEXBOX DEFENSE - TORRES */
/* Exercício 10 */

.tower-group-1 {
    display: flex;
    justify-content: space-around;
    }
    .tower-1-1 {
    }
    .tower-1-2 {
    order: 1;
    }
    .tower-1-3 {
    }
    .tower-group-2 {
    display: flex;
    justify-content: space-around;
    }
    .tower-2-1 {
    }
    .tower-2-2 {
    order: -1;
    }
    .tower-2-3 {
    }

/* Exercício 11 */

.tower-group-1 {
    display: flex;
    justify-content: space-between;
    }
    .tower-1-1 {
    align-self: flex-end;
    }
    .tower-1-2 {
    }
    .tower-1-3 {
    align-self: flex-end;
    }
    .tower-1-4 {
    }

/* Exercício 12 */

.tower-group-1 {
    display: flex;
    justify-content: space-between;
    }
    .tower-1-1 {
    }
    .tower-1-2 {
    align-self: center;
    }
    .tower-1-3 {
    order: 1;
    align-self: center;
    }
    .tower-1-4 {
    align-self: center;
    }
    .tower-1-5 {
    align-self: flex-end;
    order: 2;
    }